@font-face {
  font-family: "Charlotte";
  src: url("./fonts/Charlotte/Charlotte.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(246 245 245);
  color: rgb(85 85 85);
  font-family: "Charlotte";
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }

  .login,
  .createAccount {
    width: 300px;
  }
}
